<div class="container">
    <h2>Your account has been suspended</h2>
    <hr>
    <div>
        <span>Your account has been suspended due to one or more of the following reasons:</span>

        <ul>
            <li>
                <span>Submitting articles or comments containing inappropriate content, such as: sexism, racism, homophobia or adult content</span>
            </li>

            <li>
                <span>Submitting articles that are not related to the title of the blog in any way</span>
            </li>

            <li>
                <span>Spamming</span>
            </li>
        </ul>
    </div>
</div>