<div class="container">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.ContactInfo</h3>


    <div class="row">
  
        <div class="col-md-6">
        <b>Address:</b><br />
            15-17, Tintyava street, Sofia, Bulgaria<br />
           <b>Work days:</b><br />
            09:00 - 18:00 (Monday - Friday)<br />
            <b>Days-off:</b><br /> 
            Saturday - Sunday <br>
     
            <b>Phone number:</b><br />
            +359 899 55 55 92<br>
        </div>
          <div class=""col-md-6">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2933.74423974472!2d23.350088315466078!3d42.66677497916745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa85cca4a719b7%3A0xdf53fcbcd8e758d7!2z0KHQvtGE0YLRg9C10YDQtdC9INGD0L3QuNCy0LXRgNGB0LjRgtC10YIgKNCh0L7RhNGC0KPQvdC4KQ!5e0!3m2!1sbg!2sbg!4v1490790759522"
                      width="550" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
   
        </div>
</div>