<div class="container">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.ContactInfo</h3>

    <address>
        <div class="col-md-12 col-sm-6">
        <b>Address:</b><br />
            15-17, Tintyava street, Sofia, Bulgaria<br />
           <b>Work days:</b><br />
            09:00 - 18:00 (Monday - Friday)<br />
            <b>Days-off:</b><br /> 
            Saturday - Sunday <br>
     
            <b>Phone number:</b><br />
            +359 899 55 55 92<br>
        </div>
    </address>
</div>