@{
    ViewBag.Title = "About";
}

<div class="container">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
    <span class="col-md-12 col-sm-6">
        <h4>Contact info:</h4>
    </span>
    <address>

        <span class="col-md-12 col-sm-6">
            15-17, Tintyava street, Sofia, Bulgaria<br>
        </span>

        <span class="col-md-12 col-sm-6">
            Work shifts: <br>
            14:00 - 18:00 (Monday and Wednesday)<br>
            18:00 - 22:00 (Tuesday and Thursday)<br>
            Days-off: Friday, Saturday and Sunday <br>
        </span>
        <span class="col-md-12 col-sm-6">
            Phone number: <br>
            +359 899 55 55 92<br>
        </span>
        <span class="col-md-12 col-sm-6">
            GitHub:<br>
            <a href="https://github.com/Team-Code-Ninjas" target="blank">https://github.com/Team-Code-Ninjas</a>
        </span>
    </address>
</div>