@{
    ViewBag.Title = "Team";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="col-lg-4 col-sm-6 text-center">
    <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
    <h3>
        Georgi Stoyanov
        <small>Job Title</small>
    </h3>
    <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
</div>

<div class="col-lg-4 col-sm-6 text-center">
    <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
    <h3>
        Goran Stefanov
        <small>Job Title</small>
    </h3>
    <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
</div>

<div class="col-lg-4 col-sm-6 text-center">
    <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
    <h3>
        Lyubima Takova
        <small>Job Title</small>
    </h3>
    <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
</div>

<div class="col-lg-4 col-sm-6 text-center">
    <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
    <h3>
        Alexander Stanev
        <small>Job Title</small>
    </h3>
    <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
</div>