<div class="intro-header" style="background-image: url('/Images/home.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <img class="logo" src="~/Images/newLogo.png">
                </div>
            </div>
        </div>
    </div>
</div>